In [5]:
import pandas as pd
import numpy as np

In [2]:
file = './data/eccc91e3-d623-4dc3-8413-1c6164424740_DisasterDeclarations.csv'
dataframe = pd.read_csv(file)

In [3]:
dataframe.head()

,disaster_number,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,state,declaration_date,disaster_type,incident_type,title,incident_begin_date,incident_end_date,disaster_close_out_date,declared_county_area,serialid
0,1,No,Yes,Yes,Yes,GA,1953-05-02T00:00:00,DR,Tornado,TORNADO,1953-05-02T00:00:00,1953-05-02T00:00:00,1954-06-01T00:00:00,NaN,1
1,2,No,Yes,Yes,Yes,TX,1953-05-15T00:00:00,DR,Tornado,TORNADO & HEAVY RAINFALL,1953-05-15T00:00:00,1953-05-15T00:00:00,1958-01-01T00:00:00,NaN,2
2,3,No,Yes,Yes,Yes,LA,1953-05-29T00:00:00,DR,Flood,FLOOD,1953-05-29T00:00:00,1953-05-29T00:00:00,1960-02-01T00:00:00,NaN,3
3,4,No,Yes,Yes,Yes,MI,1953-06-02T00:00:00,DR,Tornado,TORNADO,1953-06-02T00:00:00,1953-06-02T00:00:00,1956-02-01T00:00:00,NaN,4
4,5,No,Yes,Yes,Yes,MT,1953-06-06T00:00:00,DR,Flood,FLOODS,1953-06-06T00:00:00,1953-06-06T00:00:00,1955-12-01T00:00:00,NaN,5

In [9]:
dataframe['incident_type'].value_counts()

Severe Storm(s)     14544
Flood                8620
Hurricane            8443
Snow                 3437
Fire                 2613
Severe Ice Storm     1637
Tornado              1376
Drought              1292
Coastal Storm         461
Freezing              301
Other                 298
Typhoon               115
Earthquake            103
Volcano                49
Fishing Losses         42
Tsunami                10
Toxic Substances        8
Human Cause             6
Terrorist               5
Mud/Landslide           4
Dam/Levee Break         3
Name: incident_type, dtype: int64

array([  0.,   2.,   4.,   6.,   8.,  10.])